<h1 class="headline">{{options.title}}</h1>
<div class="main-image"><img src="images/{{options.mainpic}}" alt=""/></div>

<!-- Intro text here -->

      <p>The Federal Open Market Committee has changed its look following the regular rotation of members at the beginning of 2016.</p>

      <p>Fed-watchers like to pigeonhole officials as hawks, who favour tighter policy, or doves, who want stimulus. Preferences on policy reflect many underlying issues, however, and with the state of the economy in constant flux, it is never easy to predict how a given official will vote. Janet Yellen, the Fed’s chair, for example, is traditionally seen as a dove, but that did not stop her presiding over the first rate increase in nearly a decade in December 2015.</p>

      <p>Issues that will matter in 2016 include the weight Fed officials place on inflation versus unemployment; how far they think factors such as energy prices, the dollar and slack in the labour market will hold back inflation; their optimism about economic output; and the degree to which they worry about financial stability.</p>

      <p>Below is the Financial Times 2016 guide to the voting members of Fed’s FOMC, how they think about monetary policy, and a tentative judgment on whether that makes them a hawk, a dove, or somewhere in between.</p>

<div class="content" class="o-grid-row"></div>
<div class="share-links-holder">
  <div class="share-links">
    <ul>
      <li>
        <a class="share-links__link share-links__link--twitter" target="_blank" href="https://twitter.com/home?status=Who has most shaped world events this year? The Financial Times names the Person of the Year ft.com/person">
          <span>Twitter</span>
        </a>
      </li>
      <li><a class="share-links__link share-links__link--facebook" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=ft.com/person">
        <span>Facebook</span>
        </a>
      </li>
      <li>
        <a class="share-links__link share-links__link--linked-in" target="_blank" href="https://www.linkedin.com/shareArticle?mini=true&amp;url=http://www.ft.com/person&amp;title=The Financial Times names the Person of the Year&amp;summary=Who has most shaped world events this year? Whose name has been on everyone's lips? Who will be most associated with this year in people's memories?&amp;source=FT.com">
          <span>LinkedIn</span>
        </a>
      </li>
    </ul>
  </div>
</div>
<div class="byline"></div>